vendor/
node_modules/
cache/
public/legacy/cache/
public/legacy/upload/
public/legacy/upload/upgrades/

*.log
public/legacy/*.log

.env
.env.*local*
public/legacy/config.php

.DS_Store
Thumbs.db
.idea/
.vscode/
